In [1]:
# 데이터 구성 패키지 DataFrame
import pandas as pd

# 행렬 연산 패키지
import numpy as np

# 시각화, subpackage pyplot
import matplotlib
import matplotlib.pyplot as plt

# 통계적 시각화 추세 패키지
import seaborn as sns

# 통계 분석 패키지
import scipy.stats
from scipy import stats
import statsmodels.api as sm
from statsmodels.stats.proportion import proportions_ztest # 비율 검정

from statsmodels.formula.api import ols
import statsmodels.formula.api as smf
from statsmodels.stats.anova import anova_lm

# jupyter notebook 내 그래프를 바로 그리기 위한 설정
%matplotlib inline

In [2]:
df = pd.read_csv('MFG_TAT_NULL_COL_OUT.csv', engine='python', encoding='EUC-KR')
df.head()

,JUDGE,LOT_ID,PANEL_ID,TIME_1BLACK,TIME_2AG,TIME_3BUS,TIME_4DIELEC,TIME_5MGO,TIME_6PHOS,TIME_7PASTE,...,TAT_3BUS_2FIRE,TAT_4DIELEC_FIRE,TAT_5MGO,TAT_6PHOS_1R_1DISPENSER,TAT_6PHOS_1R_2DRY,TAT_6PHOS_2G_1DISPENSER,TAT_6PHOS_2G_2DRY,TAT_6PHOS_3B_1DISPENSER,TAT_6PHOS_4FIRE,TAT_8AGING
0,양품,LOT-101,PNL-01,2019-04-01T00:01,2019-04-01T05:21,2019-04-01T11:01,2019-04-06T13:41,2019-04-11T03:41,2019-04-03T20:20,2019-04-11T12:41,...,6900,6447,530,76,333,88,396,86,7140,10074
1,양품,LOT-101,PNL-02,2019-04-01T00:45,2019-04-01T06:05,2019-04-01T11:45,2019-04-06T14:25,2019-04-11T04:25,2019-04-03T21:04,2019-04-11T13:25,...,6693,6600,530,80,438,82,381,84,6956,10075
2,양품,LOT-101,PNL-03,2019-04-01T01:29,2019-04-01T06:49,2019-04-01T12:29,2019-04-06T15:09,2019-04-11T05:09,2019-04-03T21:48,2019-04-11T14:09,...,6747,6597,530,80,420,92,396,86,6840,10645
3,양품,LOT-101,PNL-04,2019-04-01T02:13,2019-04-01T07:33,2019-04-01T13:13,2019-04-06T15:53,2019-04-11T05:53,2019-04-03T22:32,2019-04-11T14:53,...,7137,6420,530,78,429,78,399,90,6720,10076
4,양품,LOT-101,PNL-05,2019-04-01T02:58,2019-04-01T08:18,2019-04-01T13:58,2019-04-06T16:38,2019-04-11T06:38,2019-04-03T23:17,2019-04-11T15:38,...,7527,6453,540,76,363,82,393,84,7110,10074

In [9]:
col = df.columns
col = col[11:]
col

Index(['TAT_1BLACK_1PRINT', 'TAT_1BLACK_2RTD', 'TAT_2AG_1PRINT',
       'TAT_2AG_2RTD', 'TAT_2AG_3EXPOSURE', 'TAT_3BUS_1DEVELOP',
       'TAT_3BUS_2FIRE', 'TAT_4DIELEC_FIRE', 'TAT_5MGO',
       'TAT_6PHOS_1R_1DISPENSER', 'TAT_6PHOS_1R_2DRY',
       'TAT_6PHOS_2G_1DISPENSER', 'TAT_6PHOS_2G_2DRY',
       'TAT_6PHOS_3B_1DISPENSER', 'TAT_6PHOS_4FIRE', 'TAT_8AGING'],
      dtype='object')

In [11]:
lm = ols('TAT_1BLACK_1PRINT~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df        sum_sq    mean_sq         F   PR(>F)
C(JUDGE)     1.0     92.677549  92.677549  4.185771  0.04083
Residual  3980.0  88121.561778  22.141096       NaN      NaN

In [12]:
lm = ols('TAT_1BLACK_2RTD~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df         sum_sq      mean_sq         F    PR(>F)
C(JUDGE)     1.0    2014.676668  2014.676668  11.97806  0.000544
Residual  3980.0  669425.026998   168.197243       NaN       NaN

In [13]:
lm = ols('TAT_2AG_1PRINT~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df        sum_sq    mean_sq         F    PR(>F)
C(JUDGE)     1.0      1.812327   1.812327  0.178944  0.672305
Residual  3980.0  40309.042771  10.127900       NaN       NaN

In [14]:
lm = ols('TAT_2AG_2RTD~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df        sum_sq     mean_sq          F    PR(>F)
C(JUDGE)     1.0    138.938323  138.938323  22.552538  0.000002
Residual  3980.0  24519.392164    6.160651        NaN       NaN

In [15]:
lm = ols('TAT_2AG_3EXPOSURE~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df        sum_sq      mean_sq         F    PR(>F)
C(JUDGE)     1.0  6.787831e+03  6787.830768  3.627725  0.056896
Residual  3980.0  7.446972e+06  1871.098591       NaN       NaN

In [16]:
lm = ols('TAT_3BUS_1DEVELOP~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df        sum_sq      mean_sq          F    PR(>F)
C(JUDGE)     1.0  7.683382e+03  7683.382416  17.258198  0.000033
Residual  3980.0  1.771904e+06   445.201895        NaN       NaN

In [17]:
lm = ols('TAT_3BUS_2FIRE~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df        sum_sq       mean_sq         F    PR(>F)
C(JUDGE)     1.0  5.498364e+04  54983.641098  0.829916  0.362352
Residual  3980.0  2.636832e+08  66252.055373       NaN       NaN

In [18]:
lm = ols('TAT_4DIELEC_FIRE~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df        sum_sq       mean_sq          F        PR(>F)
C(JUDGE)     1.0  2.200860e+06  2.200860e+06  54.733256  1.674792e-13
Residual  3980.0  1.600384e+08  4.021065e+04        NaN           NaN

In [19]:
lm = ols('TAT_5MGO~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df        sum_sq     mean_sq         F    PR(>F)
C(JUDGE)     1.0  2.910886e+01   29.108855  0.072991  0.787044
Residual  3980.0  1.587218e+06  398.798367       NaN       NaN

In [20]:
lm = ols('TAT_6PHOS_1R_1DISPENSER~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df         sum_sq     mean_sq         F    PR(>F)
C(JUDGE)     1.0     571.006098  571.006098  5.699884  0.017012
Residual  3980.0  398710.646338  100.178554       NaN       NaN

In [21]:
lm = ols('TAT_6PHOS_1R_2DRY~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df        sum_sq       mean_sq         F    PR(>F)
C(JUDGE)     1.0  1.090678e+04  10906.778286  2.721473  0.099085
Residual  3980.0  1.595054e+07   4007.673944       NaN       NaN

In [22]:
lm = ols('TAT_6PHOS_2G_1DISPENSER~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df         sum_sq     mean_sq         F    PR(>F)
C(JUDGE)     1.0     141.580860  141.580860  1.342309  0.246697
Residual  3980.0  419792.912359  105.475606       NaN       NaN

In [23]:
lm = ols('TAT_6PHOS_2G_2DRY~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df        sum_sq      mean_sq        F   PR(>F)
C(JUDGE)     1.0  7.201329e+03  7201.328983  7.89931  0.00497
Residual  3980.0  3.628328e+06   911.640216      NaN      NaN

In [24]:
lm = ols('TAT_6PHOS_3B_1DISPENSER~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df         sum_sq    mean_sq         F    PR(>F)
C(JUDGE)     1.0       1.509819   1.509819  0.017029  0.896182
Residual  3980.0  352877.117002  88.662592       NaN       NaN

In [25]:
lm = ols('TAT_6PHOS_4FIRE~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df        sum_sq        mean_sq         F    PR(>F)
C(JUDGE)     1.0  6.347920e+05  634791.954249  3.648506  0.056191
Residual  3980.0  6.924675e+08  173986.800293       NaN       NaN

In [26]:
lm = ols('TAT_8AGING~C(JUDGE)', df).fit()
print(anova_lm(lm))

              df        sum_sq       mean_sq         F  PR(>F)
C(JUDGE)     1.0  5.377135e+04  53771.354207  2.021154  0.1552
Residual  3980.0  1.058850e+08  26604.277571       NaN     NaN

설비간 유의한 공정

TAT_1BLACK_1PRINT
0.04

TAT_1BLACK_2RTD
0.00

TAT_2AG_2RTD
0.00

TAT_3BUS_1DEVELOP
0.00

TAT_4DIELEC_FIRE
0.00

TAT_6PHOS_1R_1DISPENSER
0.02

TAT_6PHOS_2G_2DRY
0.01